body {
  background-color: #222;
  font-family: Arial, sans-serif;
  color: #eee;
  padding-bottom: 175px;
  padding: 0px;
  margin: 0px;
}
.card {
  background-color: #333;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  margin: 20px auto 0;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  width: 100px;
  margin-right:20px;

}

.item-details {
  flex-grow: 1;
}

.item-price {
  font-size: 24px;
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #eee;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #eee;
}

.home-button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000;
  padding: 10px 15px;
  border-radius: 5px;
}

.info-wrapper{
  margin-left: 40px
}

nav {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-right:30px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  height: 60px;
}

img{
  height: 200px;
  width:auto;
}

.remove-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  
}

p{
  text-align: right;
}