body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
  }
  
  .card {
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin: 20px auto 0;
    width: 350px;
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  
  .item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-price {
    font-size: 24px;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #eee;
  }
  
  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .home-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 5px;
  }
  