body {
    background-color: #1c1c1c;
    color: #f2f2f2;
  }
  nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }

    table td {
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 10px;
    }
        table th {
          font-size: 16px;
          font-weight: bold;
          color: white;
          text-align: center;
          padding: 10px;
        }


  